.welcomepicture {
  background-image: url(../pictures/background\ p\ pink\ and\ blue.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  border: rgb(255, 238, 0);
  border: solid;
}

header {
  border: solid;
  border: rgb(255, 238, 0);
}
